{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
<div class="container">
    <h1>Shop Page</h1>
    <p>Welcome to our shop!</p>
    {# Add your shop content here #}
</div>
{% endblock %}
