/* assets/styles/sidebar.css */
/* Styles pour l'ancienne sidebar - désactivés pour la nouvelle navigation */

/*
body {
    display: flex;
    margin: 0;
    font-family: sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

.main-content {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}
*/
